<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container py-5">
        <h1 class="display fw-bold">Kayseri Yaz Okulu</h1>
        <p class="col-md-8 fs-4">Bu yaz Kayseri'de 7-12 yaş arası çocuklarımız için düzenlenecek olan Yaz Okulu programına tüm çocuklarımız davetlidir. Verilecek olan kurslar alanında uzman eğitmenler tarafından verilecek olup , kurs bitirme sertifikası verilecektir.</p>
        
    </div>
</div>