<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Yazokulu</a>
        <ul class="navbar-nav me-auto">
             <li class="nav-item">
                <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
             </li>
            <li class="nav-item">
            <a asp-controller="Yazokulu" asp-action="Details" class="nav-link">Yazokulu</a>
            </li>
        </ul>
    </div>
</nav>  